
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div class="container" layout:fragment="fragment">
        <div class="row">
            <form th:action="@{'/car/update-car'}" method="post">
                <input type="hidden" th:value="${car.getId()}" name="id">
                <div class="form-group">
                    <label class="form-label">MODEL:</label>
                    <input type="text" class="form-control" name="model" th:value="${car.getModel()}">
                </div>
                <div class="form-group">
                    <label class="form-label">YEAR:</label>
                    <input type="number" class="form-control" name="year" th:value="${car.getYear()}">
                </div>
                <div class="form-group">
                    <label class="form-label">PRICE:</label>
                    <input type="number" class="form-control" name="price" th:value="${car.getPrice()}">
                </div>
                <div class="form-group">
                    <label class="form-label">CHOOSE OWNER:</label>
                    <select class="form-control" name="ownerId">
                        <option th:each="o : ${owners}" th:text="${o.getFullName()}" th:value="${o.getId()}" th:if="${o.getId() == ownerId}"></option>
                        <option th:each="o : ${owners}" th:text="${o.getFullName()}" th:value="${o.getId()}" th:if="${o.getId() != ownerId}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">CHOOSE COUNTRIES:</label>
                    <div class="form-check" th:each="c : ${car.getCountries()}">
                        <input type="checkbox" class="form-check-input" name="countryId" th:value="${c.getId()}" checked>
                        <label class="form-check-label" th:text="${c.getName() + '/' + c.getCapital()}"></label>
                    </div>
                    <div class="form-check" th:each="c : ${nsc}">
                        <input type="checkbox" class="form-check-input" name="countryId" th:value="${c.getId()}">
                        <label class="form-check-label" th:text="${c.getName() + '/' + c.getCapital()}"></label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info">UPDATE CAR</button>
                </div>

            </form>
            <div class="row">
                <form th:action="@{'/car/delete-car'}" method="post">
                    <input type="hidden" th:value="${car.getId()}" name="id">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>

</html>